<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ERP | Auth Panel</title>
  <link rel="stylesheet" href="stylesheets/css/font-awesome.css" type="text/css">
<link rel="stylesheet" href="stylesheets/css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="stylesheets/css/Style.css" type="text/css">
<link rel="stylesheet" href="stylesheets/css/animate.css" type="text/css">
<link rel="stylesheet" href="stylesheets/css/waves.css" type="text/css">
<link rel="stylesheet" href="stylesheets/css/layout.css" type="text/css">
<link rel="stylesheet" href="stylesheets/css/components.css" type="text/css">
<link rel="stylesheet" href="stylesheets/css/plugins.css" type="text/css">
<link rel="stylesheet" href="stylesheets/css/common-styles.css" type="text/css">
<link rel="stylesheet" href="stylesheets/css/pages.css" type="text/css">
<link rel="stylesheet" href="stylesheets/css/responsive.css" type="text/css">
<link rel="stylesheet" href="stylesheets/css/matmix-iconfont.css" type="text/css">
<link href="../../../external.html?link=http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,500italic" rel="stylesheet" type="text/css">
<link href="../../../external.html?link=http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet" type="text/css">
</head>
<body class="login-page">
  <div class="page-container ">
      <div class="login-branding" id="head">
          <h1 class="text-white">Login Here!!</h1>
      </div>
      <div class="login-container">
          <img class="login-img-card" src="images/images/shield.png" alt="login thumb" />
          <form class="form-signin">
              <input type="text" id="inputEmail" class="form-control floatlabel " placeholder="Email Address" required autofocus>
              <input type="password" id="inputPassword" class="form-control floatlabel " placeholder="Password" required>
              <div id="remember" class="checkbox">
                  <label>
                      <input type="checkbox" class="switch-mini" /> Remember Me
                  </label>
              </div>
              <button class="btn btn-success btn-block btn-signin" type="submit">Sign In</button>
          </form>

          <a href="#" class="forgot-password">
              Forgot the password?
          </a>
      </div>
  </div>
  
  <script src="javascripts/js/jquery-1.11.2.min.js"></script>
  <script src="javascripts/js/jquery-migrate-1.2.1.min.js"></script>
  <script src="javascripts/js/jRespond.min.js"></script>
  <script src="javascripts/js/bootstrap.min.js"></script>
  <script src="javascripts/js/nav-accordion.js"></script>
  <script src="javascripts/js/hoverintent.js"></script>
  <script src="javascripts/js/waves.js"></script>
  <script src="javascripts/js/switchery.js"></script>
  <script src="javascripts/js/jquery.loadmask.js"></script>
  <script src="javascripts/js/icheck.js"></script>
  <script src="javascripts/js/bootbox.js"></script>
  <script src="javascripts/js/animation.js"></script>
  <script src="javascripts/js/colorpicker.js"></script>
  <script src="javascripts/js/bootstrap-datepicker.js"></script>
  <script src="javascripts/js/floatlabels.js"></script>

  <script src="javascripts/js/smart-resize.js"></script>
  <script src="javascripts/js/layout.init.js"></script>
  <script src="javascripts/js/matmix.init.js"></script>
  <script src="javascripts/js/retina.min.js"></script>
</body>
</html>